@import "svg-mixins";

$positions: 'top-left', 'top', 'top-right',
            'left', 'center', 'right',
            'bottom-left', 'bottom', 'bottom-right';

.position-fieldtype-selector {
    display: flex;
    align-items: center;

    &__button {
        margin-right: 1rem;
        position: relative;
        padding-left: calc(1.25rem + 38px);

        &::before {
            content: ' ';
            width: 38px;
            height: 38px;
            position: absolute;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            background-position: center center;
            border-right: 1px solid #c4cdd6;
        }

        @each $position in $positions {
            &--#{position}::before {
                background-image: url(svg-bg($position));
            }
        }
    }

    &__modal {
        position: relative;

        &__selector {
            position: absolute;
            box-shadow: 0 0 0 1px rgba(49,49,93,.05),
                        0 2px 5px 0 rgba(49,49,93,.075),
                        0 1px 3px 0 rgba(49,49,93,.15);
            background-color: #fff;
            border-radius: .25rem;
            padding: .5rem;
            box-sizing: content-box;
            transform: translateY(-50%);

            &__compass {
                display: flex;
                flex-wrap: wrap;
                width: 150px;
                height: 150px;
                border-radius: 3px;
                border: 1px solid #c4cdd6;
                overflow: hidden;

                &__button {
                    width: calc(100% / 3);
                    height: calc(100% / 3);
                    padding: 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-width: 0;
                    border-radius: 0;
                    position: relative;
                    color: transparent;

                    &::after {
                        content: ' ';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    &:nth-child(-n+6) { // first 6
                        border-bottom-width: 1px;
                    }

                    &:nth-child(3n+1),
                    &:nth-child(3n+2) { // 1,2, 4,5, 7,8 
                        border-right-width: 1px;
                    }

                    @each $position in $positions {
                        &--#{position}::after {
                            background-image: url(svg-bg($position));
                        }
                    }
                }
            }
        }
    }
}
