
@mixin top-left {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.475 5.495l.004 2-4.557.01 9.603 9.585-1.412 1.415-9.63-9.61.01 4.614-2 .004-.018-8 8-.018z" fill="currentColor"/></svg>');
}
@mixin top {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.657 8.962l-1.418 1.411-3.255-3.27-.013 13.605-2-.002.013-13.568-3.23 3.215-1.41-1.417 5.67-5.644 5.643 5.67z" fill="currentColor"/></svg>');
}
@mixin top-right {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.525 5.495l-.004 2 4.557.01-9.603 9.585 1.413 1.415 9.63-9.61-.012 4.614 2 .004.02-8-8-.018z" fill="currentColor"/></svg>');
}
@mixin left {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.328 11v2H7.5l3.243 3.243-1.415 1.414L3.672 12l5.656-5.657 1.415 1.414L7.5 11h12.828z" fill="currentColor"/></svg>');
}
@mixin center {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9H3V7h4V3h2v6zM9 15H3v2h4v4h2v-6zM21 15h-6v6h2v-4h4v-2zM15 9h6V7h-4V3h-2v6z" fill="currentColor"/></svg>');
}
@mixin right {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.038 6.343l-1.411 1.418 3.27 3.255-13.605.013.002 2 13.568-.013-3.215 3.23 1.417 1.41 5.644-5.67-5.67-5.643z" fill="currentColor"/></svg>');
}
@mixin bottom-left {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.243 7.172l-1.415-1.415-9.07 9.071v-4.585h-2v8h8v-2H9.17l9.072-9.071z" fill="currentColor"/></svg>');
}
@mixin bottom {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 3.672h2V16.5l3.243-3.243 1.414 1.415L12 20.328l-5.657-5.656 1.414-1.415L11 16.5V3.672z" fill="currentColor"/></svg>');
}
@mixin bottom-right {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.757 7.172l1.415-1.415 9.07 9.071v-4.585h2v8h-8v-2h4.586l-9.07-9.071z" fill="currentColor"/></svg>');
}

.position-fieldtype-selector {
    display: flex;
    align-items: center;

    &__button {
        margin-right: 1rem;
        position: relative;
        padding-left: calc(1.25rem + 38px);

        &::before {
            content: ' ';
            width: 38px;
            height: 38px;
            position: absolute;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            background-position: center center;
            border-right: 1px solid #c4cdd6;
        }

        &--top-left::before { @include top-left; }
        &--top::before { @include top; }
        &--top-right::before { @include top-right; }
        &--left::before { @include left; }
        &--center::before { @include center; }
        &--right::before { @include right; }
        &--bottom-left::before { @include bottom-left; }
        &--bottom::before { @include bottom; }
        &--bottom-right::before { @include bottom-right; }
    }

    &__modal {
        position: relative;

        &__selector {
            position: absolute;
            box-shadow: 0 0 0 1px rgba(49,49,93,.05),
                        0 2px 5px 0 rgba(49,49,93,.075),
                        0 1px 3px 0 rgba(49,49,93,.15);
            background-color: #fff;
            border-radius: .25rem;
            padding: .5rem;
            box-sizing: content-box;
            transform: translateY(-50%);

            &__compass {
                display: flex;
                flex-wrap: wrap;
                width: 150px;
                height: 150px;
                border-radius: 3px;
                border: 1px solid #c4cdd6;
                overflow: hidden;

                a {
                    width: calc(100% / 3);
                    height: calc(100% / 3);
                    padding: 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-width: 0;
                    border-radius: 0;
                    position: relative;
                    color: transparent;

                    &::after {
                        content: ' ';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        border-bottom-width: 1px;
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(7),
                    &:nth-child(8) {
                        border-right-width: 1px;
                    }

                    &:nth-child(1)::after { @include top-left; }
                    &:nth-child(2)::after { @include top; }
                    &:nth-child(3)::after { @include top-right; }
                    &:nth-child(4)::after { @include left; }
                    &:nth-child(5)::after { @include center; }
                    &:nth-child(6)::after { @include right; }
                    &:nth-child(7)::after { @include bottom-left; }
                    &:nth-child(8)::after { @include bottom; }
                    &:nth-child(9)::after { @include bottom-right; }
                }
            }
        }
    }
}
